*{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    background: DarkSeaGreen
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar {
    width:1200px;
    height:75px;
    margin:auto;
}
.icon{
    width:200px;
    float:left;
    height: 70px;
}
h1{
    /*can change title color*/
    color: steelBlue;
    font-size: 35px;
    font-family: Arial;
    padding-left:15px;
    float:left;
    padding-top:10px
}    
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}
ul li{
    list-style:none;
    margin-left:100px;
    margin-top:25px;
    font-size:20px;
}
ul li a{
    text-decoration:none;
    /*can change pre-hover color*/
    color:chocolate;
    font-family:arial;
    font-weight:bold;
    transition:0.4s ease-in-out;
}
ul li a:hover{
    /*can change hover color*/
    color:cornflowerblue;
}
